<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-04-22T18:52:21Z</date>
	<key>WorkspacePath</key>
	<string>/Users/bryan/development/sandbox/tr-components-2/packages/trc-react-native/ios/TrcReactNative.xcodeproj</string>
</dict>
</plist>
